:root {
    --primaryColour: rgb(32, 32, 32);
    --secondaryColour: rgb(53, 53, 53);
    --thirdColour: rgb(0, 161, 0);
    --fourthColour: rgb(26, 226, 0);
    --fifthColour: rgb(255, 255, 51);
    --sixthColour: rgb(255, 255, 204);
    --seventhColour: rgb(255,255,255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    width: 100%;
}

/*************************************************************************
*
* Sekcja Marcina
*
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

/*  POCZATEK SEKCJI BURGERA */

@media only screen and (max-width: 568px) {

#burger-container{
    position: relative;
    width: 100px;
}

#burger{
    cursor: pointer;
    display: block;
}

#burger span{
    background-color: var(--primaryColour);
    display: block;
    width: 50px;
    height: 7px;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
    width: 0;
    opacity: 0;
}

#burger-container.open span:nth-child(4) {
    transform: rotate(45deg);
    top: -18px;
}

#burger-container.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 18px;
}

input#menu {
    display: none;
}
/*  KONIEC SEKCJI BURGERA */


.menu-content {
    max-height: 0;
    overflow: hidden;
    width: 130px;
}
.dropdown-menu {
    position: absolute;
    padding: 20px;
    width: 100px;
}

.menu-content li a:hover {
    background-color: var(--thirdColour);
}
.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--secondaryColour);
    color: whitesmoke;
    font-style: italic;
}


.dropdown-menu li {
    border-bottom: 1px solid;
}

.menu-content li:nth-child(4) {
    border-bottom: none;
}

.dropdown-menu label {
    display: block;
    cursor: pointer;

}



input:checked ~ .menu-content {
    max-height: 50%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--secondaryColour); /* Set a background color */
    color: whitesmoke; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: var(--thirdColour); /* Add a dark-grey background on hover */
  }
  
}

/* END MAX WIDTH 600px */





@media only screen and (min-width: 569px) {

#burger-container {
    display: none;
}

.menu-content {
    width: 100%;
    position: fixed;
}

.menu-content li a:hover {
    background-color: var(--thirdColour);
}

.menu-content a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: whitesmoke;
    background-color: var(--secondaryColour);
    height: 3rem;
}

.menu-content ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.menu-content li {
   flex: 1 1 0;

}

.menu-content li a{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#menu{
    display:none;
}
}
/*  END MIN WIDTH 601px */

/*************************************************************************
*
* Sekcja Hero
*
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/
.hero {
    width: 100%;
    height: 100%;
    text-align: center;
}

.hero__image {
    max-width: 100%;
    height: 100vh;
    background-image: url("../photos/background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/*************************************************************************
*
* Sekcja Pauliny
*
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/





/*
    About Us section start
*/

@media only screen and (max-width: 568px) {
    .about_us {
        flex-direction: column;
}
}
@media only screen and (min-width: 568px) {
    .about_us {
        flex-direction: row;
}
}
.row {
    width: 100%;
    display: flex;
    min-height: 200px;
    font-family: Roboto, Lato;
}
.about_us_header {
    color: white;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    background: url(/photos/about_us_header_bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about_us {
    background-image: url('photos/about_background.jpg');
    background-color: white;
    align-items: center;
    font-size: 1.2rem;
}

.about_us img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.img_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_box {
    margin-top: 10%;
}

.about_me {
    background: #FFF;
    box-shadow: 0 0.9375rem 3.75rem rgba(2,2,22,0.1);
    width: 90%;
   /* height: 366px; */
    padding: 7.5%;
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.about_text {
    display: none;
}

/*
    About Us section end
*/
/*
    Footer section start
*/
.footer {
    width: 100%;
    min-height: 5rem;
    background: rgb(32, 32, 32);
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}
/*
   Footer section end
*/