:root {
    --primaryColour: rgb(32, 32, 32);
    --secondaryColour: rgb(53, 53, 53);
    --thirdColour: rgb(0, 161, 0);
    --fourthColour: rgb(26, 226, 0);
    --fifthColour: rgb(255, 255, 51);
    --sixthColour: rgb(255, 255, 204);
    --seventhColour: rgb(255,255,255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    width: 100%;
}

/*************************************************************************
*
* Sekcja Marcina
*
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

/*  POCZATEK SEKCJI BURGERA */

@media only screen and (max-width: 568px) {

    .functions{
        background-color: var(--secondaryColour);
    }

#burger-container{
    position: relative;
    width: 100px;
}

#burger{
    cursor: pointer;
    display: block;
}

#burger span{
    background-color: var(--primaryColour);
    display: block;
    width: 50px;
    height: 7px;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2),
#burger-container.open span:nth-child(3) {
    width: 0;
    opacity: 0;
}

#burger-container.open span:nth-child(4) {
    transform: rotate(45deg);
    top: -18px;
}

#burger-container.open span:nth-child(1) {
    transform: rotate(-45deg);
    top: 18px;
}

input#menu {
    display: none;
}
/*  KONIEC SEKCJI BURGERA */
.menu-content {
    max-height: 0;
    overflow: hidden;
    width: 130px;
}

.dropdown-menu {
    position: absolute;
    padding: 20px;
    width: 100px;
}

.menu-content li a:hover {
    background-color: var(--thirdColour);
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: var(--secondaryColour);
    color: whitesmoke;
    font-style: italic;
}

.dropdown-menu li {
    border-bottom: 1px solid;
}

.menu-content li:nth-child(4) {
    border-bottom: none;
}

.dropdown-menu label {
    display: block;
    cursor: pointer;

}

input:checked ~ .menu-content {
    max-height: 50%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: var(--secondaryColour); /* Set a background color */
    color: whitesmoke; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: var(--thirdColour); /* Add a dark-grey background on hover */
  }
  
}

/* END MAX WIDTH 600px */





@media only screen and (min-width: 569px) {

#burger-container {
    display: none;
}

.menu-content {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.menu-content li a:hover {
    background-color: var(--thirdColour);
}

.menu-content a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: whitesmoke;
    background-color: var(--secondaryColour);
    height: 3rem;
}

.menu-content ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.menu-content li {
   flex: 1 1 0;

}

.menu-content li a{
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#menu{
    display:none;
}
}
/*  END MIN WIDTH 601px */

/* FUNCTIONS */

.functions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.functions div {
    position: relative;
    display: flex;
    min-height: 6rem;
    align-items: center;
    border: 1px solid var(--secondaryColour);
    border-radius: 25px;
    width: 80%;
    margin: 0.5rem;
    min-width: 300px;
    max-width: 60%;
}

.functions div img{
    margin-left: 0.5rem;
    height: 2rem;
}

.functions div p{
    
}

/* START SHOW AND HIDE FUNCTION IN OUR FUNCTIONS */

.diet, .shop, .training, .measurement{
    background-color: var(--seventhColour);
    box-shadow: 10px 10px 20px -4px rgba(220,227,158,1);
}
.read-more-state {
    display: none;
  }

  .read-more-wrap{
      position: relative;
      list-style: none;
      display: flex;
      flex-direction: column;
  }

  .read-more-wrap li{
      padding: 0.3rem;
      align-items: center;
      justify-content: flex-start;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }
  
  .read-more-trigger {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    cursor: pointer;
    display: inline-block;
    padding: 0.3em;
    color: var(--primaryColour);
    border: 1px solid var(--secondaryColour);
    border-radius: .25em;
    background-color: var(--sixthColour);
  }

  .read-more-trigger:active{
    background-color: var(--fourthColour);
  }

  @media only screen and (max-width: 649px){
      .oneLabelFor4{
          display: none;
      }
  }
  

  @media only screen and (min-width: 649px) {
    .oneLabelFor4{
        display:flex;
        justify-content: center;
        background-color: var(--secondaryColour);
    }

    .functions{
        background-color: var(--secondaryColour);
        flex-direction: row;
        min-height: 250px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .functions .diet, .functions .shop, .functions .training, .functions .measurement{
        width: 40%;
    }

    .read-more-trigger{
        display:none;
    }

    .read-more-trigger-dieta, .read-more-trigger-zakupy, .read-more-trigger-trening, .read-more-trigger-measurement {
        position: relative;
        cursor: pointer;
        display: inline-block;
        padding: 1em;
        color: var(--primaryColour);
        border: 1px solid var(--secondaryColour);
        border-radius: .25em;
        background-color: var(--sixthColour);
        content: 'DIETA';
        margin: 0.5rem 0.7rem;
    }

    .read-more-trigger-dieta:hover, .read-more-trigger-zakupy:hover, .read-more-trigger-trening:hover, .read-more-trigger-measurement:hover{
        background-color: var(--fourthColour);
        box-shadow: 5px 6px 10px 0px rgba(189,247,54,1);

    }

    
  }
/* END SHOW AND HIDE FUNCTION IN OUR FUNCTIONS */

/*************************************************************************
*
* Sekcja Hero
*
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/


/*************************************************************************
*
* Sekcja Main
*
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/


/*************************************************************************
*
* Sekcja Form
*
↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/


/*
    About Us section start
*/

@media only screen and (max-width: 568px) {
    .about_us {
        flex-direction: column;
}
}
@media only screen and (min-width: 568px) {
    .about_us {
        flex-direction: row;
}
}
.row {
    width: 100%;
    display: flex;
    min-height: 200px;
    font-family: Roboto, Lato;
}
.about_us_header {
    color: white;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    background: url(/photos/about_us_header_bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.about_us {
    background-image: url('photos/about_background.jpg');
    background-color: white;
    align-items: center;
    font-size: 1.2rem;
}

.about_us img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}
.img_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_box {
    margin-top: 10%;
}

.about_me {
    background: #FFF;
    box-shadow: 0 0.9375rem 3.75rem rgba(2,2,22,0.1);
    width: 90%;
   /* height: 366px; */
    padding: 7.5%;
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.about_text {
    display: none;
}

/*
    About Us section end
*/
/*
    Footer section start
*/
.footer {
    width: 100%;
    min-height: 5rem;
    background: rgb(32, 32, 32);
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}
/*
   Footer section end
*/