body {
    margin: 0;
    padding: 0;
    background-color: rgb(88, 88, 88);
    height: 100%;
    width: 100%;
    display: flex;
}

.game__container {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("game-background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
}


.chicken {
    height: 100px;
    width: 100px;
    background-image: url("chicken.png");
    background-size: cover;
    position: absolute;

}

.chicken2 {
    height: 100px;
    width: 100px;
    background-image: url("carrot.png");
    background-size: cover;
    position: absolute;
    top: 20px;

}

.chicken3 {
    height: 100px;
    width: 100px;
    background-image: url("carrot.png");
    background-size: cover;
    position: absolute;
    top: 20px;

}

#catcher {
    position: absolute;
    height: 200px;
    width: 200px;
    background-image: url("basket.png");
    background-size: cover;
    max-width: 100%;
    bottom: 0;
    left: 50px;
}

#points {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5%;
    top: 5%;
    width: 80px;
    height: 80px;
    border-radius: 20%;
    background-color: rgb(59, 52, 52);
    color: rgb(255, 239, 239);
    font-size: 50px;
}

.pauseButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 90%;
    top: 5%;
    width: 75px;
    height: 75px;
    font-size: 2rem;
    color: black;
}

.pauseButton input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.timer__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#info__button {
    width: 50px;
    height: 50px;
}

#timer {
    width: 250px;
    height: 35px;
    background-color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    z-index: 2;
}

#startButton {
    width: 50px;
    height: 50px

}

#restartButton {
    width: 50px;
    height: 50px;
}

.game__name {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
}

.name__text {
    width: 50%;
    height: 20%;
    display: flex;
    padding: 2%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255,255,255);
    border: 2px solid rgb(0, 161, 0);
}

input {
    width: 60%;
    border: none;
    border: 2px solid rgb(0, 161, 0);
    background-color: none;
    line-height: 3;
    font-size: 1rem;
}
::placeholder {
    color: rgb(0, 161, 0);
    text-align: center;
}

.info__container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.info__text {
    background-color: rgb(255,255,255);
    margin: auto;
    border: 2px solid rgb(0, 161, 0);
    width: 80%;
    text-align: center;
    padding: 1%;
}

.info__close {
    float: right;
    color: rgb(0,0,0);
    font-size: 3rem;
    font-weight: bold;
}

.info__close:hover, .info__close:focus {
    color: rgb(26, 127, 26);
    text-decoration: none;
    cursor: pointer;
}