body {
    margin: 0;
    padding: 0;
    background-color: rgb(88, 88, 88);
}

.chicken {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;

}

.chicken2 {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 20px;

}

.chicken3 {
    height: 100px;
    width: 100px;
    background-color: rgb(9, 255, 0);
    position: absolute;
    top: 20px;

}

.chicken4 {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 20px;

}

#catcher {
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: red;
    bottom: 0;
    left: 50px;
}

#points {
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    font-size: 50px;
}